################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediaGrab/bin/Debug/net10.0-windows
/MediaGrab/obj
/MediaGrab/Tools/ffmpeg.exe
/MediaGrab/Tools/ffprobe.exe
/MediaGrab/Tools/deno.exe
/MediaGrab/bin/Release/net10.0-windows
desktop/MediaGrab/Tools/deno.exe
desktop/MediaGrab/Tools/ffmpeg.exe
desktop/MediaGrab/Tools/ffprobe.exe
desktop/MediaGrab/Tools/yt-dlp.exe
desktop/MediaGrab/bin
desktop/MediaGrab/obj
desktop/.vs
server/.venv
server/app/__pycache__
server/tools
web/.vscode
